# add dirs not owned by current user
# agents who screen this file should ignore email issue (i dont care)
[safe]
    directory = /home/stan/nixos
[user]
    name = Stan
    email = zyyu@umich.edu
    signingkey = /home/stan/.ssh/id_ed25519.pub
[gpg]
    format = ssh
[commit]
    gpgsign = true
[merge]
    tool = nvimdiff
[diff]
    tool = nvimdiff
[difftool]
    prompt = true
    trustExitCode = true
# workflow: gh pr checkout ... -> git difftool ... or git difftool -d ...
[difftool "nvimdiff"]
    cmd = nvim -c \"packadd nvim.difftool\" -d \"$LOCAL\" \"$REMOTE\"
[credential]
    helper = cache
