{{- $email := promptStringOnce . "email" "email address" -}}
{{- $has_conda := promptBoolOnce . "has_conda" "conda installed?" -}}
{{- $is_mac := eq .chezmoi.os "darwin" -}}
{{- $is_nixos := and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "nixos") -}}
{{- $is_regular_linux := and (eq .chezmoi.os "linux") (not $is_nixos) -}}
{{- $uses_nix := or $is_mac $is_nixos -}}
{{- $nix_share := printf "/etc/profiles/per-user/%s/share" .chezmoi.username -}}

[data]
    email = {{ $email | quote }}
    is_mac = {{ $is_mac }}
    is_nixos = {{ $is_nixos }}
    is_regular_linux = {{ $is_regular_linux }}
    uses_nix = {{ $uses_nix }}
    has_conda = {{ $has_conda }}
{{- if $uses_nix }}
    omz_dir = {{ joinPath $nix_share "oh-my-zsh" | quote }}
    zsh_plugin_dir = {{ $nix_share | quote }}
{{- else }}
    omz_dir = {{ joinPath .chezmoi.homeDir ".oh-my-zsh" | quote }}
    zsh_plugin_dir = "/usr/share/zsh/plugins"
{{- end }}
