[".config/nvim"]
    type = "git-repo"
    url = "git@github.com:stanfish06/nvim.git"
    refreshPeriod = "1m"
    pull.args = ["--rebase", "--autostash"]

[".config/kitty"]
    type = "git-repo"
    url = "git@github.com:stanfish06/kitty.git"
    refreshPeriod = "168h"

[".emacs.d"]
    type = "git-repo"
    url = "git@github.com:stanfish06/emacs.git"
    refreshPeriod = "1m"
    clone.args = ["--recurse-submodules"]
    pull.args = ["--rebase", "--autostash", "--recurse-submodules"]
